.App {
  text-align: center;
}

.img-trace {
  display: grid;
  height: 100vh;
  width: 100%;
  place-content: center;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Tương đương 8px */
  font-size: 1.875rem; /* Tương đương với text-3xl, khoảng 30px */
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.wrapper {
  position: relative;
  overflow: hidden;
}

/* Cho thẻ img */
.mouse-image {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 12rem; /* Tương đương với h-48 (48 * 4px = 192px) */
  width: auto;
  border-radius: 0.75rem; /* Tương đương rounded-xl (12px) */
  border: 2px solid black;
  background-color: #171717; /* Tương đương bg-neutral-900 */
  object-fit: cover;
  opacity: 0;
}